<table class="section">
    <tbody>
    <tr>
        <td>
            <p>Your registration group was replaced with "{{var customeractualgroupname}}" group!</p>
        </td>
    </tr>
    </tbody>
</table>