<table class="section">
    <tbody>
    <tr>
        <td>
            <p>Thank you for submitting registration form. We will review the information and contact you shortly.</p>
            <p>If you have any questions please contact us:
            <ul>
                <li>eMail: <a href="mailto:{{config path="trans_email/ident_general/email"}}">{{config path="trans_email/ident_general/email"}}</a></li>
            </ul>
            </p>
        </td>
    </tr>
    </tbody>
</table>