<table class="section">
    <tbody>
    <tr>
        <td>
            <h1>Someone submitted registration form</h1>
            <table>
                <tr>
                    <td>First Name</td>
                    <td>{{var register.getFirstName()}}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{var register.getLastName()}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{var register.getEmail()}}</td>
                </tr>
                <tr>
                    <td>Company (Business Name)</td>
                    <td>{{var register.getBusinessName()}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{var register.getCountryText()}}</td>
                </tr>
                <tr>
                    <td>Region / State</td>
                    <td>{{var register.getStateText()}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{var register.getCityText()}}</td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td>{{var register.getAddress()}}</td>
                </tr>
                <tr>
                    <td>Postcode</td>
                    <td>{{var register.getZipCode()}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{var register.getPhonePrimary()}}</td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td>{{var register.getWebsiteLink()}}</td>
                </tr>
                <tr>
                    <td>Interests</td>
                    <td>{{var register.getInterestsDefault()}}</td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td>{{var register.getComment()}}</td>
                </tr>
            </table>
            <p>Please review the information &amp; switch account to active.</p>
        </td>
    </tr>
    </tbody>
</table>