<div class="form-box wide">
    <ul class="form-list" style="list-style: none;">
        <li class="fields">
            <div class="field">
                {firstname}
            </div>
            <div class="field">
                {lastname}
            </div>
        </li>
        <li class="wide">
            <div class="input-box">
                {company}
            </div>
        </li>
        <li class="wide">
            {street||each_before_html=<div class="field"><div class="input-box">,each_after_html=</div></div>}
        </li>
        <li class="fields">
            <div class="field">
                <div class="input-box">
                    {city}
                </div>
            </div>
            <div class="field state-province-field">
                <div class="input-box">
                    {region}
                </div>
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <div class="input-box">
                    {zip}
                </div>
            </div>
            <div class="field">
                {country}
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <div class="input-box">
                    {phone}
                </div>
            </div>
            <div class="field">
                <div class="input-box fade-label">
                    {email}
                </div>
            </div>
        </li>
        <li class="fields">
            <div class="field">
                <div class="input-box">
                    {website}
                </div>
            </div>
        </li>
    </ul>
    <div class="second-list">
        <div class="second-list-title">I am interested in these products</div>
        {interest||list_group=group_1}
    </div>
    <div class="wh-comments">
        <div class="input-box">
            {comment||"style=height: auto;"}
        </div>
    </div>
    <div class="submit-button-wrapper" style="margin: 0 auto; text-align: center;">
        {submit|submit-style|"title=Submit Request","one_more_option=1","style=margin: 10px auto; display: block;"}
    </div>
</div>
