<div class="input-box file-w" {{disabled}}>
    <label>
        <span {{disabled}} class="file">{{title}}</span>
        <input {{disabled}} type="file" name="{{name}}" id="{{id}}" class="input-text file-input">
    </label>
</div>