<div class="field">
    <label for="password" class="required"><em>*</em>{{title}}</label>
    <div class="input-box">
        <input type="password" name="password" id="password" title="{{title}}" placeholder="{{placeholder}}" style="{{style}}" class="input-text required-entry validate-password" {{disabled}} />
    </div>
</div>
<div class="field">
    <label for="confirmation" class="required"><em>*</em>Confirm {{title}}</label>
    <div class="input-box">
        <input type="password" name="confirmation" title="Confirm {{title}}" id="confirmation" placeholder="Confirm {{placeholder}}" class="input-text required-entry validate-cpassword" {{disabled}} />
    </div>
</div>