<div class="aws-wholesale-recaptcha" style="overflow:hidden; position:relative; {{style}}">
    <input type="checkbox" id="cb-{{id}}" name="cb-{{name}}" value="" class="hide required-entry" style="visibility:hidden; position:absolute; left:-1000000px" />
    <div id="el-{{id}}"></div>
    <script type="text/javascript">
        var onloadCallback = function() {
            grecaptcha.render('el-{{id}}', {
                'sitekey': "{{recaptcha_site_key}}",
                'theme': "{{recaptcha_theme}}",
                'type': "{{recaptcha_type}}",
                'size': "{{recaptcha_size}}",
                'callback': function(response) {
                    if (response.length > 0) {
                        $('cb-{{id}}').writeAttribute('value', 'checked');
                        $('cb-{{id}}').checked = true;
                    }
                }
            });
        };
    </script>
    {{child_data}}
</div>