<select type="text" id="{{id}}_id" name="{{name}}_id" title="{{title}}" placeholder="{{placeholder}}" style="{{style}}"  {{disabled}} class="validate-select {{validate}} {{class}}">
    <option value="">{{title}}</option>
</select>

<script type="text/javascript">
    //<![CDATA[
    $('{{id}}_id').setAttribute('defaultValue', "{{default_value}}");
    //]]>
</script>
<input type="text" id="{{id}}" name="{{name}}" {{disabled}} value="{{value}}" title="{{title}}" placeholder="{{placeholder}}" class="input-text {{class}}" style="display: none;" />