<?php
/**
 * Absolute Web Services Intellectual Property
 *
 * @copyright    Copyright © 1999-2017 Absolute Web Services, Inc. (http://www.absolutewebservices.com)
 * @author       Absolute Web Services
 * @license      http://www.absolutewebservices.com/license-agreement/  Single domain license
 * @terms of use http://www.absolutewebservices.com/terms-of-use/
 */
?>

<?php
/** @var AWS_Wholesale_Block_Widget_Form $this */
?>
<div class="row">
    <form action="<?= $this->getPostActionUrl() ?>" method="post" id="form-validate" class="form-group" enctype="multipart/form-data">
        <input type="hidden" name="success_url" value="<?= $this->getSuccessUrl() ?>" />
        <input type="hidden" name="error_url" value="<?= $this->getErrorUrl() ?>" />
        <input name="form_key" type="hidden" value="<?= Mage::getSingleton('core/session')->getFormKey(); ?>" />
        <input type="hidden" name="create_address" value="1" />
        <input type="hidden" name="default_billing" value="1" />
        <input type="hidden" name="default_shipping" value="1" />
        <input type="hidden" name="show_schema" value="<?= $this->getShowSchema(); ?>" />
        <input type="hidden" name="rule" value="<?= $this->getTargetRule(true); ?>" />
        <input type="hidden" name="rf" value="<?= $this->getRequiredFields(false, true); ?>" />
        <div class="create-account">
            <?= $this->renderForm(); ?>
        </div>
    </form>
</div>
<script type="text/javascript">
    try {
        var dataForm = new VarienForm('form-validate', true);
        var regionUpdater = new RegionUpdater('country', 'region', 'region_id', <?= Mage::helper('directory')->getRegionJsonByStore() ?>, undefined, 'zip');
        var fileButton = document.getElementById('file');
        fileButton.onchange = function () {
            fileButton.previousElementSibling.className += ' selected';
        };
    } catch (e) {
        console.log('Error while initializing registration form: ' + e.message)
    }
</script>